<div id="app-container">
  <div id="map-container" appMap></div>
<div  *ngIf="trkModel | async as model">
  <mat-expansion-panel id='track-info-panel'>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{model.title}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-tab-group>
    <mat-tab label="Description">{{model.description}}</mat-tab>
    <mat-tab label="Profile">
      <div id='chart-container'>
      <ngx-charts-line-chart
      id="profile"
      [autoScale]="true"
      [xAxis]="true"
      [yAxis]= "true"
      [gradient]= "false"
      [results]="model.profile"></ngx-charts-line-chart>
    </div>
    </mat-tab>
  </mat-tab-group>

  <mat-action-row>
    <button mat-button>Download .gpx</button>
  </mat-action-row>
  </mat-expansion-panel>
</div>
</div>
