#sheet-footer {
    height: 20px;
}

.sheet-container {
    height: 300px;
    display:flex;
    flex-direction: column;
}

#chart-container {
    display: flex;
    justify-content: center;
    min-height: 180px;
}

.download-area {
    display: flex;
    justify-content: right;
    width: 100%;
    padding-top: 10px;
}

.tab-text-content{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 14px;
    height: 160px;
}

.close-btn{
    align-self: flex-end;
    margin: 5px;
}
